* {
   box-sizing: border-box;
   font-family: "courier";
  }

body {
      background-color: gray;
     }

ul {
    text-align: center;
    width:100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;  
   }   

li {
    display: inline-block;
    color: gray;
   }  

a {
   text-decoration: none;
   transition-property: all;
   transition-duration: 0.2s;
   transition-timing-function: ease-in-out;
  }              
      

li a {
      display: block;
      padding: 10px 32px;
      text-align: center;
      color: #7C785B;
     }

li a:hover {
            color: black;
            box-shadow: 0px 0px 10px cyan;
            background-color: cyan;
            text-decoration: underline;
           }  
